body {
  margin: 0;
  padding: 0;
}
/* styles fot the main container */
.wrapper {
  background-color: lightgray;
  margin: 0;
  padding: 20px;
}

.wrapper h1 {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-size: 45px;
}

/* styles for the section */
#box {
  background-color: white;
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 7px 12px 16px black;
}

#box h2 {
  font-size: 35px;
}

/* styles for the textarea "your secure password" */
textarea {
  padding: 5%;
  width: 90%;
  text-align: center;
  font-size: 23px;
  border: dashed 2px lightgray;
  border-radius: 23px;
  color: black;
}
/* styles for the generate button */
#btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#generateBtn {
  background-color: rgb(177, 1, 1);
  font-size: 25px;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  width: 285px;
  margin: 1%;
}
#copyBtn {
  background-color: cornflowerblue;
  font-size: 25px;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  border: none;
  width: 285px;
  margin: 1%;
}
